.features {
  //width: 320px;
  //margin: 0 auto;
}

.features__wrapper {
  //display: flex;
  width: 320px;
  flex-direction: column;
  margin: 0 auto;
  /*padding: 0 20px;*/
}

.features__header {
  /*min-height: 220px;*/
  margin: 28px 20px;/*по макету 45px 20px; проставила по пиксельперфект наллложению*/
  /*background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-size: 320px;
  background-position-y: 260px;*/
}

.features__head {
  margin: 10px 10px 26px;
  /*margin-bottom: 26px;/*по макету 40px; проставила по пиксельперфект наллложению*/
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  .text-align-center;
}


.features__intro {
  margin: 0;
  /*padding-bottom: 46px;*/
  font-size: 14px;
  line-height: 26px;
  .text-align-center;
}

.features__list {
  display: flex;
  flex-direction: column;
  .list-style-none;
  .indents-none;
}

.features__list-row {
  display: none;
}

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .indents-none;
  .text-align-center;
  border-bottom: 1px solid #d6d6d6;
}

.features__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  padding: 10px 10px;
}

.features__description--white {
  /*padding: 22px 0;*/
  margin: 8px 28px 38px;
  font-size: 14px;
  line-height: 21px;
  color: @white;
}


.features__description {
  margin-bottom: 10px;
  padding-left: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: none;
}

.features__title--open {
  /*margin: 0 10px 0;*/
 /*padding-top: 48px;*/
  font-size: 18px;
  line-height: 10px;
  color: @white;
}


.features__description--head {
  /*margin: 5px 35px 30px;*/
  margin: 5px 5px;
  padding-left: 10px;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  line-height: 21px;
}


/*.features__title--number {
  padding: 5px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 200;
}*/

.features__item--open {
  /*padding: 45px 0;*/
  width: 320px;
 /* height: 121px;*/
  .bg-color-blue;
}

.features__item-block {
 /* min-height: 103px;*/
  padding: 0;
  margin: 0;
}

.features__img {
  display: none;
  min-height: 262px;
  background-color: @white;
}

.features__item--gray {
  display: none;
  padding: 0;
  .bg-color-gray;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
}

@media (min-width: @tablet-width) {

  .features__wrapper {
    padding: 0;
    width: 768px;
    margin: 0 auto;
  }

  .features {
    display: flex;
  }

  .features__header {
    margin: 40px 100px 50px;
  }

  .features__head {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }

  .features__item--open {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 260px;*/
    .indents-none;
  }

  .features__title {
    padding: 30px 30px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    /*padding-top: 10px;*/
  }

  .features__title--open {
    /*margin: 0 53px 0;
    padding-top: 45px;*/
    padding: 30px 30px;
    font-size: 14px;
    line-height: 26px;
    .text-align-center;
  }

  .features__title--number {
    padding: 12px 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 200;
  }

  .features__description--white {
    margin: 8px 45px 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    .text-align-center;
    /*padding: 0 25px 0;*/
  }

  .features__img {
    //display: block;
    //width: 512px;
    min-height: 260px;
    width: auto;
  }

.features__item--gray {
  //display: flex;
  //flex-direction: column;
  //width: 30%;
  //height: 252px;
  //text-align: left;
  //padding-left: 20px;
  margin: 0;
  //border-bottom: 0;
}

.features__description--head {
  padding: 0;
  margin: 7px 0 0 0;
  font-size: 14px;
  line-height: 21px;
  .text-align-center;
  .bg-color-gray;
  }

.features__title--gray {
  margin-top: 42px;
  }
}

@media (min-width: @desktop-width) {
  .features__wrapper {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
  }

  .features {
    //display: flex;
    //width: 1200px;
    //margin: 0 auto;
    margin-bottom: 100px;
  }

  .features__img {
    display: block;
    //width: 800px;
    height: 258px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .list-style-none;
    .indents-none;
  }


  .features__title {
    padding: 30px 30px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
  }

  .features__item--open {
    width: 300px;
    .indents-none;
    display: flex;
    flex-direction: column;
  }

  .features__item-block {
    .indents-none;
    width: 300px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column
    /*padding: 25px 0;*/
  }

  .features__item-column-head {
    display: none;
  }

  .features__title--open {
   /* margin: 0 125px 0;*/
    padding: 30px 30px;
  }

  .features__title--number {
    padding: 12px 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 200;
}

.features__description--white {
    margin: 8px 65px 0 65px;
  }


  .features__item--gray {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 30%;
    padding-left: 20px;
    //width: 280px;
    //padding: 0 60px;

  }

  .features__item--gray:nth-child(2) {
    width:25%;
  }

  .features__title--gray {
    margin: 42px 80px 0;
  }

  .features__description--head {
    padding: 0;
    margin: 20px 0px 0;
    font-size: 20px;
    line-height: 21px;
    text-align: left;
    background-color: #eeeeee;
  }
}
