.news__wrapper {
  width: 320px;
  margin: 0 auto;
}

.news__list {
  display: flex;
  flex-direction: column;
  .list-style-none;
  .indents-none;
}

.news__item {
  display: none;

}

.news__item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .indents-none;
  .text-align-center;
  border-bottom: 1px solid #d6d6d6;
}

.news__header a {
  display: block;
  text-decoration: none;
  color: #050505;
}

.news__date {
  text-align: left;
  text-transform: none;
}

.news__description {
  margin: 10px 10px;
  padding-left: 0;
  font-size: 16px;
  //line-height: 20px;
  text-align: left;
  text-transform: none;
}

.news__description--title {
  padding-left: 0;
  font-weight: bold;
}

.news__img {
  display: block;
}

@media (min-width: @tablet-width) {
  .news {
    display: flex;
  }

  .news__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }

.news__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.news__head {
    margin: 0;
  }

.news__link {
    text-transform: none;
  }

.news__list {
  display: flex;
  flex-direction: row;
}

.news__item {
  display: flex;
  flex-direction: column;
  //width: 400px;
  padding-left: 10px;
  justify-content: flex-start;
  .indents-none;
  .text-align-center;
  border-bottom: 1px solid #d6d6d6;
}
.news__item:last-child {
  display: none;
}

.news__img {
  width: 100%;
}

}


@media (min-width: @desktop-width) {
  .news {
    display: flex;
  }
  .news__wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .news__list {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    .list-style-none;
    .indents-none;
  }

  .news__item {
    //width: 400px;

  }

  .news__item:last-child {
    display: flex;
  }
}
